h1, h2 {
    font-family: "ff-meta-serif-web-pro", "Georgia", "Times New Roman", serif;
}
h1 {
    color: #fc0;
    font-size: 1.4em;
    line-height: 1em;
    font-style: italic;
    margin: 0.3em 0;
}

@media only screen
and (min-width : 768px)
{
    h1 {
        font-size: 3em;
        line-height: 1em;  
    }
}

h2 {
    font-size: 1.3em;
    line-height: 1.1em;
    font-style: italic;
    font-weight: normal;
    max-width: 30em;
    margin: 0 auto;
}

@media only screen
and (min-width : 768px)
{
    h2 {
        font-size: 1.875em;
        line-height: 1.3em;
    }
}

h3 {
    color: #333;
    font-weight: bold;
}

h4 {
    font-weight: 700;
    color: #333;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 10px;
}

h5 {
    font-size: 1.3em;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    display: inline-block;
    margin: 10px 5px 0px 0px;
    vertical-align: top;
    font-weight: bold;
}